* {
    box-sizing: border-box;
}
/*  */

/* guest cast */
.field {
    position: relative;
    top: 33%;
    background-color: rgba(244, 74, 74, 10%);
    height: auto;
    width: 100%;
    /* display: flex; */
    justify-content: center;
}
